.appHeader {
  position: relative;
  z-index: 10;
  display: flex;
  padding: 0 12px;
  background-color: white;
  box-shadow: 0 2px 8px #f0f1f2;

  @media screen and (min-width: 576px) {
    padding: 0 32px;
  }

  &__logo {
    padding: 14px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }

  &__logoText {
    display: none;
    margin-left: 8px;

    @media screen and (min-width: 576px) {
      display: inline-block;
    }
  }

  &__userBar {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
